@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pacifico", serif;
  font-size: 20px;
}

body {
  background-image: url('/img/download (3).jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(119, 119, 119, 0.7);
  height: 50px;
  border-radius: 50px;
  margin-top: 5px;
}

img {
  position: fixed;
  margin-top: -22px;
  margin-left: 10px;
  height: 40px;
  width: auto;
}

.menu {
  display: flex;
  gap: 10px;
}

.menu button {
  background-color: #b06f6f;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 5px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 18px;
  height: 40px;
  width: 170px;
}

.menu button:hover {
  background-color: #894040;
}

.menu button:focus {
  outline: none;
}

.menu-toggle {
  display: none; 
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

@media (max-width: 1080px) {
  .menu {
    display: none; 
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: rgba(119, 119, 119, 0.9);
    border-radius: 10px;
    padding: 10px;
  }

  .menu.active {
    display: flex; 
  }

  .menu-toggle {
    display: block; 
  }
}

.container {
  margin-top: 40px;
  justify-content: space-around;
  display: flex;
  gap: 20px;
}

.product-card {
  width: 25vw; /* 25% ширини екрану */
  height: auto; /* Автоматична висота залежно від вмісту */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.image-container {
  width: 100%;
  height: 450px; /* Фіксована висота для зображення */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 19%;
  height: 55%;
  object-fit: cover;
  border-radius: 10px;
}

.product-info {
  width: 100%;
  height: auto; /* Автоматична висота залежно від вмісту */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.product-title {
  font-size: 18px;
  font-weight: bold;
}

.product-price {
  font-size: 20px;
  color: #d9534f;
}

.buy-button {
  display: inline-block;
  padding: 10px 20px;
  background: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  transition: 0.3s;
}

.buy-button:hover {
  background: #444;
}